header{
    background-color: red;
}
body{
    background-color: blue;
}
.uno{
    background-color: blueviolet;
}
.dos{
    background-color: brown;
}
.tres{
    background-color: cornflowerblue;
}
.cuatro{
    background-color: darkkhaki;
}